body {
    background-color: lightgrey;
}

section {
    display: flex;
    flex-direction: column;
    margin-left: 700px;
    margin-top: 100px;
}

.card {
    margin-top: 30px !important;
}

.modal-dialog {
    max-width: 60%;
}

.menu {
    position: fixed;
}



@media only screen and (max-width: 390px) {
    body {
        background: red;
    }
}
}