body {
    background-color: lightgrey;
}

section {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.card {
    margin-top: 30px !important;
}

.modal-dialog {
    max-width: 60%;
}