body {
    background-color: lightgrey;
}

section {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.card {
    margin: 10px auto !important;
    cursor: pointer;

}

.card:hover {
    box-shadow: 3px 3px red, -1em 0 .4em olive;
}


.modal-dialog {
    max-width: 60%;
}

.model-pos {
    top: 58px !important;
    left: 104px !important;
}

.card-title {
    color: #7b6948;
}