body {
    background-color: lightgrey;
}

section {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.card {
    margin: 10px auto !important;

}

.modal-dialog {
    max-width: 60%;
}

.model-pos {
    top: 58px !important;
    left: 104px !important;
}